//////////////////
//
//	File: _depth.scss
//	Description: Depth classes to prevent z-index crap like z-index: 9999;
//
//////////////////


.depth-0 {
	z-index: -1;
}

@for $i from 1 through 10 {
	.depth-#{$i} {
		z-index: $i * 100;
	}
}
