//////////////////
//
//	File: _typography.scss
//	Description: Stylesheet ONLY for typography related styling
//
//////////////////


///////////////////////
//	Defaults
///////////////////////

$font-size: 16px !default;
$line-height: 1.6 !default;


///////////////////////
//	Font-family placeholdselectors
///////////////////////

%font-sans-primary {
	font-family: $base-font;
}

%font-sans-secondary {
	font-family: 'Open Sans', sans-serif;
}

%font-serif {
	font-family: 'Playfair Display', serif;
}


///////////////////////
//	Headings
///////////////////////

h1,
.h1 {
	@extend %font-serif;
	@include font-size(40);
	line-height: 1.2;

	@include sm() {
		@include font-size(26);
	}

	@include md() {
		@include font-size(34);
	}
}

h2,
.h2 {
	@extend %font-serif;
	@include font-size(28);
	line-height: 1.3;
}

h3,
.h3 {
	@extend %font-sans-secondary;
	@include font-size(24);
	line-height: 1.4;
}

h4,
.h4 {
	@extend %font-sans-secondary;
	@include font-size(22);
	line-height: 1.5;
}

h5,
.h5 {
	@extend %font-sans-secondary;
	@include font-size(20);
}

h6,
.h6 {
	@extend %font-sans-secondary;
	@include font-size(18);
}

.heading--huge {
	@include font-size(60);
}

.subhead {
	@extend %font-sans-primary;
	@include font-size(12);
	text-transform: uppercase;
	letter-spacing: 2px;
}


///////////////////////
//	Global styling
///////////////////////

@font-face {
	font-family: 'Office Code Pro';
	src: url('../fonts/OfficeCodePro-Regular.woff');
}

::selection {
	background: $cl-black;
	color: $cl-primary;
}

body {
	color: $cl-white;
	font-family: $base-font;
	letter-spacing: .5px;
	line-height: $line-height;
}

a {
	color: $cl-primary;
	text-decoration: none;
	transition: color 200ms;
	cursor: pointer;

	&:hover {
		color: $cl-primary;
	}
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a {
	color: inherit;
	text-decoration: underline;
}


///////////////////////
//	Code typography
///////////////////////

pre,
code,
samp,
style {
	font-family: $mono-font;
}

pre {
	@include font-size(14);
	background-color: $cl-black;
	color: $cl-white;
	padding: $padding * 2;
	overflow: auto;

	code {
		background-color: inherit;
		border-radius: 0;
		color: inherit;
		padding: 0;
	}
}

code {
	@include font-size(14);
	background-color: $cl-grey;
	border-radius: $border-radius;
	padding: .15em .4em;
}


////////////////////////
//  Text classes
////////////////////////

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.text-no-underline {
	text-decoration: none;
}

.list-style-none {
	list-style-type: none;
}

.font-light {
	font-weight: 200;
}

.font-regular {
	font-weight: 400;
}

.font-bold {
	font-weight: 700;
}


////////////////////////
//  Decorations/spacers
////////////////////////

.spacer--primary {
	position: relative;
	height: 20px;
	margin: 20px auto 10px;
	transform: translate3d(0, 0, 0);

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 20px;
		height: 1px;
		margin-left: -10px;
		background-color: $cl-primary;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}

.section-header {
  color: $cl-primary;
  border-bottom: 3px solid $cl-tertiary;
  padding-bottom: $padding;
  margin-bottom: $margin * 4;

  @include sm() {
    overflow: hidden;
  }

  .subhead {
    float: right;
    line-height: 4rem;

    @include sm() {
      display: block;
      float: none;
      width: 100%;
    }
  }
}

.section-header--secondary {
  @extend .section-header;
  border-bottom-color: $cl-secondary;
}

:target .section-header {
  text-decoration: underline;
}
