.parallax-slider {
	max-height: 2000vh;
}

.banner {
	display: flex;
	align-items: stretch;
	position: relative;
	width: 100%;
	height: 100vh;
	max-height: 800px;
	padding: 70px 0;
	text-align: center;
	color: $cl-white;
	background: transparent;

	&:after {
		z-index: 100;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		background: rgba($cl-primary, .8);
	}

	.container {
		z-index: 200;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.banner__logo {
	margin-bottom: 30px;
}

.banner__heading {
	font-size: 50px;
	font-weight: normal;
	letter-spacing: 1px;
	text-shadow: 0 2px 34px rgba($cl-black, .5);
}

.banner__text {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;

	.underline {
		border-bottom: 1px dashed $cl-white;
	}
}

.banner__button {
	border: 1px solid;
	margin-top: 70px;

	@include sm('<') {
		margin-top: 30px;
	}
}
