.date--events {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	position: absolute;
	top: -.5rem;
	left: -4.5rem;
	color: $cl-primary;
	line-height: 1;
	font-weight: bold;
	width: 9rem;
	height: 9rem;
	background-color: $cl-white;
	border-radius: 200px;
	box-shadow: 0 0 0 3px $cl-primary;

	@include md('<') {
		top: 1rem;
		left: 1rem;
		width: 6rem;
		height: 6rem;
	}
}

.date__day {
	text-align: center;
	font-size: 2.4rem;
}

.title--events {
	display: inline-block;
	vertical-align: top;
	line-height: 5rem;
	font-size: 2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.date__month {
	font-size: 1.4rem;
	text-align: center;
}
