//////////////////
//
//	File: _events.scss
//	Description: Events module for upcoming meetups
//
//////////////////


.events {

}

/*----------  Each even is an item  ----------*/

.events__item {
	border: 1px solid $cl-secondary;
  padding: 1rem;
}

.date--events {
	display: inline-block;
	width: 4rem;
}

.date__day {
	text-align: center;
	font-size: 2rem;
}

.date__month {
	text-align: center;
}