//////////////////
//
//	File: _events.scss
//	Description: Events module for upcoming meetups
//
//////////////////

.events {
	background: $cl-white;
	padding: 0 2rem 4rem;

	&:after {
		position: relative;
		margin: 0 auto;
		display: block;
		background-image: url('../images/ring-alt.svg');
		background-size: contain;
		content: '';
		width: 0;
		height: 0;
		opacity: 0;
		transform: scale(0);
		transition: all .4s;
	}

	&.loading {
		&:after {
			width: 4rem;
			height: 4rem;
			opacity: 1;
			margin: 2rem auto;
			transform: scale(1);
		}
	}
}

.events-menu-holder {
	display: flex;
	justify-content: center;
	background: $cl-white;
}

.events-menu {
	display: flex;
	justify-content: center;
	margin: 5rem 0;
	list-style-type: none;
}

.events-menu__item {
	margin: 0 2.5rem;
	font-weight: bold;

	@include md('<') {
		margin: 0 1.5rem;

		&:nth-child(1) a:after {
			transform: translate(calc(100% + 3rem), 0);
		}

		&:nth-child(2) a:after {
			transform: translate(calc(-100% - 3rem), 0);
		}
	}

	&:nth-child(1) a:after {
		transform: translate(calc(100% + 5rem), 0);
	}

	&:nth-child(2) a:after {
		transform: translate(calc(-100% - 5rem), 0);
	}

	a {
		font-size: 2rem;
		color: $cl-border;
		transition: color .3s ease;

		@include md('<') {
			font-size: 16px;
		}

		&:after {
			content: '';
			display: block;
			border-bottom: 2px solid $cl-primary;
			width: 0;
			transition: transform .3s cubic-bezier(.68, -.55, .265, 1.55);
		}
	}

	&--active a {
		color: $cl-primary;
		padding-bottom: 2px;

		&:after {
			width: 100%;
			transform: translate(0, 0) !important;
		}
	}
}

.event {
	transform: scale(.95);
	transition: transform 300ms;

	&--active {
		transform: scale(1);
	}

	&:nth-child(5n+2) .events__item {
		animation-delay: .1s;
	}

	&:nth-child(5n+3) .events__item {
		animation-delay: .2s;
	}

	&:nth-child(5n+4) .events__item {
		animation-delay: .3s;
	}

	&:nth-child(5n+5) .events__item {
		animation-delay: .4s;
	}

	&:last-child .events__item {
		margin-bottom: 0;
	}

}

.events__item {
	margin: 0 auto 4rem;
	border-radius: .25rem;
	transform: scale(.8);
	opacity: 0;
	box-shadow: 0 3px 8px 1px rgba($cl-black, .1);
	background: $cl-white;
	text-align: left;
	max-width: 80rem;
	animation: scale--up2 .3s, fade--in .3s;
	animation-fill-mode: forwards;
	transition: transform 300ms;

	@include md('<') {
		margin: 0 auto 2rem;
	}

	p:last-child {
		margin-bottom: 0;
	}

	&--active {
		transform: scale(1);
	}
}

.events__container {
	overflow: hidden;
	max-height: 0;
	transition: max-height 300ms ease;

	.events__item--active & {
		max-height: 34rem;
	}
}

.titlebar--events {
	position: relative;
	cursor: pointer;
	height: 8rem;
	background-color: $cl-primary;
	padding: 1.5rem 2rem 1.5rem 6rem;
	color: $cl-white;
	display: flex;
	flex-direction: row;

	@include md('<') {
		padding: 1.5rem 1rem 1.5rem 8rem;
	}
}

.cta-holder--events {
	height: 5rem;
	line-height: 5rem;
	vertical-align: top;
	align-self: flex-end;
	margin-left: auto;
}

.button--cta {
	display: inline-block;
	line-height: 3.6rem;
	padding: .5rem 3rem;
	overflow: hidden;
	height: 5rem;
	// background-color: $cl-white;
	border: 2px solid $cl-white;
	border-radius: 4rem;
	cursor: pointer;
	color: $cl-white;
	font-weight: bold;
	transition-property: color, background, box-shadow;
	transition-duration: 300ms;

	@include sm('<') {
		width: 7.5rem;
		padding: .5rem 2rem;
	}

	&:hover,
	&:focus {
		color: $cl-primary;
		background: $cl-white;
		box-shadow: 0 3px 8px 1px rgba($cl-black, .1);
	}
}

.rsvp-list-holder {
	padding: 0 4rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	@include sm('<') {
		padding: 0 2rem;
	}

	p {
		vertical-align: top;
		display: inline-block;
		margin: 0 1rem 0 0;
		line-height: 5rem;
		font-weight: bold;
		color: $cl-primary;
	}
}

.rsvp-list-holder

.rsvp-list {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.rsvp-list__member {
	border-radius: 50%;
	display: inline-block;
	margin-right: 1rem;
	width: 5rem;
	height: 5rem;
	border: .25rem solid $cl-white;
	box-shadow: 0 3px 8px 1px rgba($cl-black, .1);
	background-size: cover;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	color: $cl-primary;
	line-height: 4.5rem;

	@at-root .events__item:first-child & {
		transform: scale(0);
		animation: scale--up .3s;
		animation-fill-mode: forwards;

		&:nth-child(2) {
			animation-delay: .1s;
		}

		&:nth-child(3) {
			animation-delay: .2s;
		}

		&:nth-child(4) {
			animation-delay: .3s;
		}

		&:nth-child(5) {
			animation-delay: .4s;
		}

		&:nth-child(6) {
			animation-delay: .5s;
		}

		&:nth-child(7) {
			animation-delay: .6s;
		}

		&:nth-child(8) {
			animation-delay: .7s;
		}
	}

	&--nophoto {
		background-image: url('../images/member-nophoto.png');
	}

	&:last-child {
		margin-right: 0;
	}
}

.description--events {
	padding: 2rem 4rem;
	overflow: hidden;
	max-height: 0;
	box-sizing: initial;
	position: relative;
	transition: max-height 300ms;

	@include sm('<') {
		padding: 2rem;
	}

	&.expanded {
		max-height: 45rem;

		&:after {
			opacity: 0;
		}
	}

	&:after {
		content: '';
		display: block;
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 8rem;
		background-image: linear-gradient(to bottom, rgba($cl-white, 0) 0%, $cl-white 100%);
		transition: opacity .2s ease;
	}

	.events__item--active & {
		max-height: 20rem;
	}
}

.hr {
	&--events {
		margin: 0 2rem 2rem;
		border: 0;
		border-bottom: 1px solid $cl-border;
		display: flex;
		justify-content: center;

		@include sm('<') {
			margin: 0 2rem 2rem;
		}
	}

	&--expand {
		position: relative;

		&.expanded {

			&:after {
				transform: scale(0);
			}
		}

		&:after {
			content: 'Read more';
			display: block;
			position: absolute;
			left: calc(50% - 47px);
			top: -15px;
			padding: .3rem 1.5rem;
			cursor: pointer;
			color: $cl-dark-grey;
			font-weight: bold;
			font-size: 1.25rem;
			line-height: 2.5rem;
			border-radius: 4rem;
			background-color: $cl-light-grey;
			transform: scale(1);
			transition-property: transform;
			transition-duration: 300ms;
		}
	}
}

.events-more {
	text-align: center;
	padding-bottom: 4rem;
	background-color: $cl-white;

	.events-more__button {
		display: inline-block;
		line-height: 3.6rem;
		padding: .5rem 3rem;
		overflow: hidden;
		height: 5rem;
		// background-color: $cl-white;
		border: 2px solid $cl-primary;
		border-radius: 4rem;
		cursor: pointer;
		color: $cl-primary;
		font-weight: bold;
		transition-property: color, background, box-shadow;
		transition-duration: 300ms;
		margin-bottom: 2rem;

		&:hover,
		&:focus {
			color: $cl-white;
			background: $cl-primary;
		}
	}
}
