//////////////////
//
//	File: _events.scss
//	Description: Events module for upcoming meetups
//
//////////////////



/*----------  Events menu  ----------*/

.events-menu-holder {
	display: flex;
	-webkit-justify-content: center; /* Safari */
	justify-content:         center;
}

.events-menu {
	margin: 5rem 0;
	display: inline-block;
	list-style-type: none;

}

.events-menu__item {
	display: inline-block;
	margin: 0 2.5rem;
	font-weight: bold;


	a {
		font-size: 2rem;
		color: #d0d0d0;
	}

	&--active a {
		color: $cl-primary;
		border-bottom: 2px solid $cl-primary;
		padding-bottom: 2px;
	}
}









.events {
	padding: 0 2rem;
}

/*----------  Each event is an item  ----------*/

.events__item {
	margin: 0 auto 4rem auto;
	border-radius: 0.25rem;
	max-height: 8rem;
	overflow: hidden;
	box-shadow: 0 3px 8px 1px rgba(0,0,0,0.1);
	background: white;

	text-align: left;
	max-width: 80rem;

	transition: max-height 0.2s ease;

	&--active {
		max-height: 40rem;
	}
}

.titlebar--events {
	height: 8rem;
	background-color: $cl-primary;
	padding: 1.5rem 4rem;
	color: white;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.cta-holder--events {
	height: 5rem;
	line-height: 5rem;
	vertical-align: top;
	align-self: flex-end;
	margin-left: auto;
}

.button--cta {
	display: inline-block;
	line-height: 3rem;
	color: $cl-primary;
	padding: 0.5rem 3rem;
	box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
	background-color: white;
	border-radius: 4rem;
	cursor: pointer;
	font-weight: bold;
}

.rsvp-list-holder {
	padding: 0 4rem;
	margin-bottom: 2rem;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-justify-content: space-between; /* Safari */
	justify-content:         space-between;
}

.rsvp-list-holder p {
	vertical-align: top;
	display: inline-block;
	margin: 0 1rem 0 0;
	line-height: 5rem;
	font-weight: bold;
	color: $cl-primary;
}

.rsvp-list {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.rsvp-list__member {
	border-radius: 50%;
	display: inline-block;
	margin-right: 1rem;
	width: 5rem;
	height: 5rem;
	border: 0.25rem solid white;
	box-shadow: 0 3px 8px 1px rgba(0,0,0,0.1);
	background-size: cover;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	color: $cl-primary;
	line-height: 4.5rem;

	&:last-child {
		margin-right: 0;
	}
}

.description--events {
	padding: 2rem 4rem;
	max-height: 20rem;
	position: relative;
	overflow: hidden;

	&:after {
		content: "";
		display: block;
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 6rem;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50&0+0,1+50 */
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		transition: opacity 0.2s ease;
	}
}

.hr--events {
	margin: 0rem 3rem 2rem 3rem;
	background-color: #d0d0d0;
	border: 0;
	height: 1px;
}

.date--events {
	display: inline-block;
	text-align: center;
	color: $cl-primary;
	padding-top: 0.5rem;
	line-height: 1;
	font-weight: bold;
	width: 5rem;
	height: 5rem;
	background-color: white;
	border-radius: 0.25rem;
	margin-right: 2rem;
}

.date__day {
	text-align: center;
	font-size: 2.4rem;
}

.title--events {
	display: inline-block;
	vertical-align: top;
	line-height: 5rem;
	font-size: 2rem;
}

.date__month {
	font-size: 1.4rem;
	text-align: center;
}