//////////////////
//
//	File: _events.scss
//	Description: Events module for upcoming meetups
//
//////////////////


// Usps container

.usps {
	position: relative;
	width: 100%;
	background-color: $cl-white;
	border-top: 1px solid #f1f1f1;

	.container {
		z-index: 200;
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 3rem 0;

		@include sm('<') {
			display: block;
		}
	}
}

.usp {
	margin: 6rem 0;
	padding: 0 2rem;
	color: #4c4c4c;

	@include md('>') {
		width: 30%;
	}

	svg {
		display: block;
		width: 50px;
		height: auto;
		margin: 0 auto 20px;

		g,
		path {
			fill: $cl-primary;
		}
	}

	p {
		text-align: center;
		line-height: 1.4;
	}

	h2 {
		font-family: $base-font;
		font-size: 30px;
		text-align: center;
	}
}
