//////////////////
//
//	File: _events.scss
//	Description: Events module for upcoming meetups
//
//////////////////


// Usps container

.usps {
	position: relative;
	width: 100%;
	background-color: $cl-light-grey;

	.background {
		z-index: 100;
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../images/usps-banner.jpg');
		background-size: cover;
		background-position: 50%;
		-webkit-filter: grayscale(1);
		opacity: 0.2;
	}

	.container {
		z-index: 200;
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 3rem 0;

		@include sm('<') {
			display: block;
		}
	}
}

.usp {
	margin: 3rem 0;
	padding: 0 2rem;

	@include md('>') {
		width: 30%;
	}

	p {
		@include sm('<') {
			text-align: center;
		}
	}

	h2 {
		font-family: $serif;
		font-size: 40px;
		text-shadow: 0 0 10px rgba($cl-white, 1);

		@include sm('<') {
			text-align: center;
		}
	}
}
